@model CarPark.WebUI.Models.ContractViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContractViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarTimeContract" class="control-label"></label>
                <input asp-for="StarTimeContract" class="form-control" />
                <span asp-validation-for="StarTimeContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTimeContract" class="control-label"></label>
                <input asp-for="EndTimeContract" class="form-control" />
                <span asp-validation-for="EndTimeContract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <input asp-for="CarId" class="form-control" />
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractDays" class="control-label"></label>
                <input asp-for="ContractDays" class="form-control" />
                <span asp-validation-for="ContractDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

