@model CarPark.WebUI.Models.AccidentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AccidentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <input asp-for="ContractId" class="form-control" />
                <span asp-validation-for="ContractId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTrafficAccident" class="control-label"></label>
                <input asp-for="DateTrafficAccident" class="form-control" />
                <span asp-validation-for="DateTrafficAccident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collisions" class="control-label"></label>
                <input asp-for="Collisions" class="form-control" />
                <span asp-validation-for="Collisions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Result" class="control-label"></label>
                <input asp-for="Result" class="form-control" />
                <span asp-validation-for="Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

